.value-props {
    margin-top: 9rem;
    margin-bottom: 7rem;
}

.value-prop {
  margin-top: 1rem; }

.value-img {
  display: block;
  text-align: center;
  width: 80px;
  margin: 2.5rem auto 0; }

.value-prop {
  margin-top: 5rem; }
.value-props {
  margin-top: 5rem;
  margin-bottom: 4rem; }
